asgiref==3.8.1
blinker==1.8.2
click==8.1.7
cx_Oracle==8.3.0
Django==5.1
django-allauth==64.0.0
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-extensions==3.2.3
djangorestframework==3.15.2
dnspython==2.6.1
Flask==3.0.3
Flask-Login==0.6.3
Flask-PyMongo==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mysql-connector-python==9.0.0
mysqlclient==2.2.4
numpy==2.0.1
pandas==2.2.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
pymongo==4.8.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
setuptools==72.1.0
six==1.16.0
sqlparse==0.5.1
tzdata==2024.1
Werkzeug==3.0.3
wheel==0.44.0
