<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/EnotecaMorbin.png') }}" type="image/png">
    <title>{% block title %}Gestionale Magazzino Enoteca Morbin{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% if current_user.is_authenticated %}
    <div class="sidebar">
        <ul class="navbar">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Magazzino</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('giacenze') }}">Giacenze</a></li>
                    <li><a href="{{ url_for('movimenti') }}">Movimenti</a></li>
                    <li><a href="{{ url_for('visione_magazzino') }}">Visione Magazzino</a></li>
                    <li><a href="{{ url_for('ricerca_riquadri') }}">Configura Magazzino</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Configurazione</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('reparti') }}">Reparti</a></li>
                    <li><a href="{{ url_for('categorie') }}">Categorie</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Prodotti e Varianti</a>
                        <ul class="dropdown-subcontent-list">
                            <li><a href="{{ url_for('prodotti') }}">Prodotti</a></li>
                            <li><a href="{{ url_for('attributi') }}">Attributi</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="{{ url_for('account') }}">Account</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>    
    {% endif %}

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        // Non è più necessario gestire l'apertura/chiusura delle sottoschede
document.addEventListener('DOMContentLoaded', function() {
    // Mantiene attiva la selezione corrente nel menu
    var currentPath = window.location.pathname;
    var links = document.querySelectorAll('.sidebar .navbar a');

    links.forEach(function(link) {
        if (link.href.includes(currentPath)) {
            link.parentElement.classList.add('active');
            if (link.closest('.dropdown-content')) {
                link.closest('.dropdown').classList.add('active');
            }
        }
    });
});

    </script>
</body>
</html>
