{% extends "base.html" %}

{% block content %}
<div class="register-container">
    <h2>Registrati</h2>

    <!-- Sezione per visualizzare i messaggi flash -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <form method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Registrati</button>
    </form>
    <p>Hai già un account? <a href="{{ url_for('login') }}">Accedi qui</a></p>
</div>
{% endblock %}
